* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: white;
    min-width: 320px;
}

nav{
    height: 130px;
}

.name>img {
    height: 20px;
    margin: 0 2% 0 0;
}

.name {
    width: 330px;
    font-size: 30px;
    font-family: poppins-semibold, poppins, sans-serif;
    float:right;
}

.job {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 0 1%;
}

@media only screen and (max-width: 600px) {
    .name {
        right: 350px;
    }
}

.navbar-nav{
    display: inline;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    padding: 0 !important;
    border: none !important;
}

.container{
    height: 1000px;
}

.leftRec {
    position: absolute;
    width: 610px;
    height: 1000px;
    float: left;
    left: 0;
}

.small_leftRec {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 375px;
    height: 550px;
    top: 300px;
    margin: 0 0 0 100px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
}

.small_leftRec > img:first-of-type {
    border-radius: 50%;
    margin: 50px 0 0 0;
}

.small_leftRec > h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-family: poppins-semibold, poppins, sans-serif;
}

.minus.icon {
    border: 1px solid black;
    width: 60px;
    margin-top: 20px;
}

.small_leftRec > h2 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: 30px 0 0 0;
}

.rec_list > li{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 0 0;
}

.rec_contact{
    background-color: white;
    width: 100%;
    margin: 40px 0 0 0;
}

.content {
    position: relative;
    top: -230px;
    right: -500px;
    width: 360px;
    height: 900;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.content > h1 {
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 100px;
    margin: 0 0 0 0;
}

.content > h2 {
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 25px;
    margin: 0 0 50px 0;
}

.content > p {
    font-family: 'Quicksand', sans-serif;
}

.content_button > button {
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 100px;
    background: transparent;
    color: black
}

.content_button > button:hover {
    background: #0050FF;
    color: #fff;
}

.content_button > button > a:hover {
    background: #0050FF;
    color: #fff;
    text-decoration: none;
}

#but12 {
    display: none;
}

@media only screen and (max-width: 900px) {
    .container{
        height: 150px;
    }

    .leftRec {
        top: 500px;
        width: 100vw;
        height: 800px;
        left: 0;
        right: 0;
    }
    .small_leftRec {
        position: absolute;
        top: 200px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .small_leftRec > h2 {
        display: none;
    }

    .content {
        position: absolute;
        height: 500px;
        bottom: -500px;
        left: 0;
        right: 0;
        margin: 1000px auto 0 auto;
    }

    .content .content_button > button {
        display: none;
    }

    #but12 {
        display: inline !important;
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        margin: 1150px auto 0 auto;
    }
    .col-md-5 > p:nth-child(1){
        margin: 0 0 30px 0 !important;
    }

}

  .col-md-5 > p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: small;
    margin-left: 40px;
  }

  .col-md-2 > ul > li {
    display: flex;
    justify-content: space-evenly;
  }

  .col-md-2 > h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: medium;
  }