        * {
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
        }

        .header {
            width: 100%;
            height: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: white;
        }

        .name {
            width: 500px;
            font-size: 30px;
            font-family: poppins-semibold, poppins, sans-serif;
            margin: 0 0 0 3.5%;
        }

        .name>img {
            height: 20px;
            margin: 0 2% 0 0;
        }

        .job {
            font-size: 20px;
            font-family: 'Quicksand', sans-serif;
            margin: 0 0 0 1%;
        }

        .buttons {
            margin: 0 2.5% 0 0;
        }

        .nav>* {
            font-family: 'Quicksand', sans-serif;
            font-size: 14px/1.4em;
            margin: 0 20px 0 0;
            color: #000;
        }

        .container {
            display: flex;
        }

        .leftRec {
            width: 610px;
            height: 1000px;
            margin: 0 0 0 -10px;
        }

        .small_leftRec {
            width: 375px;
            height: 550px;
            margin: 300px 0 0 -300px;
        }

        .content {
            display: flex;
            width: 400px;
            height: 400px;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin: 200px 0 0 50px;
        }

        h1 {
            font-family: poppins-semibold, poppins, sans-serif;
            font-size: 100px;
            margin: 370px 0 0 0;
        }

        h2 {
            font-family: poppins-semibold, poppins, sans-serif;
            font-size: 25px;
            margin: 0 0 50px 0;
        }

        button {
            
            border-radius: 30px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 600;
            border: 1px solid black;
            border-radius: 100px;
            background: transparent;
            color: black
        }

        p {
            font-family: 'Quicksand', sans-serif;
        }

        .footer {
            height: 105px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 0 35px;
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
        }

        .contact_names > * {
            margin: 0 138px 0 0;
            font-weight: 600;
        }

        ul.contact_names {
            margin: 0;
        }

        .contact_data {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }

        #number {
            padding: 0 68px 20px 0;
        }

        #email {
            padding: 0 55px 20px 0;
        }

        #social_media {
            padding: 0 115px 30px 0;
        }

        a, img {
            height: 19px;
        }

        li {
            display: inline;
        }

        li :link{
            text-decoration: none;
        }

        li :visited{
            color: black;
            text-decoration: none;
        }

        li :hover{
            color: blue;
            text-decoration: none;
        }

        li :active {
            color: blue;
        }

        button:hover {
            background: #0050FF;
            color: #fff;
        }